snippet intro "Zk person intro template"
---
tags:
- people
---
# $1

$2
endsnippet

snippet meeting "Zk meeting template"
---
tags:
- meeting
---

# $1 `!v strftime("%Y-%m-%d")`

Attendees:
* $2
endsnippet
